# Q1

In [1]:
import pandas as pd
 
# Load the Excel file
file_path = r"C:\Users\year3\Downloads\Lab Session Data.xlsx"
excel_file = pd.ExcelFile(file_path)
 
# Print all sheet names
print(excel_file.sheet_names)

['Purchase data', 'IRCTC Stock Price', 'thyroid0387_UCI', 'marketing_campaign']

In [2]:
import pandas as pd
import numpy as np
 
# Load the data from the correct sheet
data = pd.read_excel(r"C:\Users\year3\Downloads\Lab Session Data.xlsx", sheet_name='Purchase data')
 
# Display the first few rows of the data to understand its structure
print(data.head())

  Customer  Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)  \
0      C_1           20             6                 2           386
1      C_2           16             3                 6           289
2      C_3           27             6                 2           393
3      C_4           19             1                 2           110
4      C_5           24             4                 2           280

   Unnamed: 5  Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN         NaN         NaN         NaN         NaN  ...
1         NaN         NaN         NaN         NaN         NaN  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Candy  Mango  Milk
0          NaN          NaN    1.0   55.0  18.0
1          NaN          NaN    NaN    NaN   NaN
2          NaN          NaN    NaN    NaN   NaN
3          NaN          NaN    NaN    NaN   NaN
4          NaN          NaN    NaN    NaN   NaN

[5 rows x 22 columns]

In [3]:
import pandas as pd
import numpy as np
 
# Load the Excel file
file_path = r"C:\Users\year3\Downloads\Lab Session Data.xlsx"
data = pd.read_excel(file_path, sheet_name='Purchase data')
 
# Display the column names to confirm the relevant columns
print(data.columns)
 
# Extract relevant columns and drop rows with NaN values
relevant_columns = ['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)', 'Payment (Rs)']
data = data[relevant_columns]
 
# Convert relevant columns to numeric and drop any rows with NaN values
data = data.apply(pd.to_numeric, errors='coerce').dropna()
 
# Display the cleaned data
print(data.head())
 
# Define matrix A (features) and vector C (target)
A = data[['Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)']].values  # Features matrix
C = data['Payment (Rs)'].values   # Target vector
 
# Calculate the dimensionality, number of vectors, and rank of matrix A
num_features = A.shape[1]  # Number of columns in A
num_vectors = A.shape[0]   # Number of rows in A
rank_A = np.linalg.matrix_rank(A)
 
# Compute pseudo-inverse and cost vector
A_pseudo_inv = np.linalg.pinv(A)
cost_vector = A_pseudo_inv @ C
 
# Print results
print(f"Dimensionality of the vector space: {num_features}")
print(f"Number of vectors in the vector space: {num_vectors}")
print(f"Rank of Matrix A: {rank_A}")
print(f"Cost of each product available for sale: {cost_vector}")

Index(['Customer', 'Candies (#)', 'Mangoes (Kg)', 'Milk Packets (#)',
       'Payment (Rs)', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18', 'Candy', 'Mango', 'Milk'],
      dtype='object')
   Candies (#)  Mangoes (Kg)  Milk Packets (#)  Payment (Rs)
0           20             6                 2           386
1           16             3                 6           289
2           27             6                 2           393
3           19             1                 2           110
4           24             4                 2           280
Dimensionality of the vector space: 3
Number of vectors in the vector space: 10
Rank of Matrix A: 3
Cost of each product available for sale: [ 1. 55. 18.]